@font-face {
    font-family: NineteenNinetySeven;
    src: url(/NineteenNinetySeven-11XB.ttf);
  }
  @font-face {
    font-family: AGoblinAppears;
    src: url(/AGoblinAppears-o2aV.ttf);
  }
body{
    padding-bottom: 50px;
    background-color: black;
    color: white;
  }
  
  .content {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    font-family: NineteenNinetySeven;
    font-size: 20px;
  }
  
  .contentimage {
    width: 100%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  .trace {
    font-size: 22px;
    padding-bottom: 20px;
    width: 40vw;
    height: 20px;
    color: #6F1A07;
  }
  
  .trace a:link, .trace a:visited {
      color:#6F1A07;
  }
  
   a.textlink:link,  a.textlink:visited {
      color:#6F1A07;
  }
  
  a {
    color: #6F1A07;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.4;
  }
  
  #spacer{
    left: 0px; right: 0px; height: 100px; margin-right: 0px
  }
  
  
  @media(max-width:1000px){
    .content {
      width: 90vw;
      margin: auto;
      margin-top: 50px;
      text-align: left;
      font-family: monospace;
      font-size: 14px;
    }
  
    .main-content {
      width: 90vw;
      margin: auto;
      margin-top: 50px;
      text-align: left;
      font-family: monospace;
      font-size: 18px;
    }
    
    .contentimage {
      width: 90vw;
    }
    
    .trace {
      font-size: 20px;
      padding-bottom: 20px;
      width: 80vw;
      height: 20px;  
    }
  }
  
  