body{
  padding-bottom: 50px;
  background-color: #fff9f1;
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  font-family: monospace;
  font-size: 20px;
  color: #191919;
}

.inline-image {
  width: 60%;
  padding: 5px;
  display: inline-block;
}

.contentimage {
  width: 100%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.block-image {
  width: 100%;
}
.caption {
  text-align: left;
  font-size: 16px;
  font-family: monospace;
  color: #191919;
  width: 100%;
}

.trace {
  font-size: 22px;
  padding-bottom: 20px;
  width: 40vw;
  height: 20px;
  color: black;
}

.trace a:link, .trace a:visited {
    color:#6F1A07;
}

 a.textlink:link,  a.textlink:visited {
    color:#6F1A07;
}

a {
  color: #6F1A07;
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
}

table {
  width: 40vw;
}

th,
td {
  width: 100px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}
ul li:before {
  content: '-';
  position: absolute;
  margin-left: -20px;
}


@media(max-width:1000px){
  .content {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    font-family: verdana;
    font-size: 18px;
  }

  .main-content {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    font-family: verdana;
    font-size: 18px;
  }
  
  .contentimage {
    width: 90vw;
  }
  
  .trace {
    font-size: 20px;
    padding-bottom: 20px;
    width: 80vw;
    height: 20px;  
  }
}

