@font-face {
  font-family: Gorton-Normal-120-Jay;
  src: url("Fonts/Gorton-Normal-120-7.otf") format("opentype");
}

body{
  padding-bottom: 50px;
  background-color: #030303;
}

.content {
  width: 50vw;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  color: #ffffff;
}

.contentimage {
  width: 40vw;
  padding: 5px;
}

.trace {
  font-size: 18px;
  padding-bottom: 20px;
  width: 40vw;
  height: 20px;
  color:rgb(34, 170, 40);
}

.trace a:link, .trace a:visited {
    color:rgb(34, 170, 40);
}

 a.textlink:link,  a.textlink:visited {
    color:rgb(34, 170, 40);
}

a {
  color: rgb(34, 170, 40);
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
}

table {
  width: 40vw;
}

th,
td {
  width: 100px;
  overflow: hidden;
}


.pquote {
  float: right;
  width: 20vw;
  color: rgb(255, 255, 255);
  font-size: 26px;
  line-height: 0.9;
  font-style: italic;
  padding: 2vw;
}

blockquote {
  margin: 0;
}

.pquote p:first-letter {
  font-size: 39px;
  font-weight: bold;
}


@font-face {
  font-family: Gorton-Normal-120;
  src: url("Fonts/Gorton-Normal-120.otf") format("opentype");
}
@font-face {
  font-family: Gorton-Normal-180;
  src: url("Fonts/Gorton-Normal-180.otf") format("opentype");
}
@font-face {
  font-family: Zerlina;
  src: url("Fonts/Zerlina.otf") format("opentype");
}
@font-face {
  font-family: Gorton-Condensed;
  src: url("Fonts/Gorton-Condensed.otf") format("opentype");
}

@media(max-width:1000px){
  .content {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    font-family: monospace
  }
  
  .contentimage {
    width: 90vw;
  }
  
  .trace {
    font-size: 20px;
    padding-bottom: 20px;
    width: 80vw;
    height: 20px;  
  }

  .pquote {
    float: right;
    width: 40vw;
    color: rgb(255, 255, 255);
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 2vw;
  }

}

