:root {
  --pd: clamp(20px, 1vw, 50px);
  --p2: calc(var(--pd) * 2);
  --sd: calc(320px + var(--p2));
}

  @font-face {
    font-family: Orbitron;
    src: url(/static/fonts/Orbitron-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: Rubik;
    src: url(/static/fonts/RubikMonoOne-Regular.ttf);
  }

  @font-face {
    font-family: Stalinist;
    src: url(/static/fonts/StalinistOne-Regular.ttf);
  }

  @font-face {
    font-family: MajorMono;
    src: url(/static/fonts/MajorMonoDisplay-Regular.ttf);
  }

  @font-face {
    font-family: Quin;
    src: url(/static/fonts/Quintessential-Regular.ttf);
  }

html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: monospace;
}

.title {
  font-size: calc(1.5vw + 1.5vh);
  font-weight: 400;
  color: black;
  font-family: Orbitron;
  text-align: justify;
  margin-left:20px;
}

*:not(p) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-left:20px;
  margin-top:20px;
}

body{
  margin: 0px;
  width: 100%;
  position: relative;
  background-color: #fffaf4c2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rotate {
  width: 200px;
  animation: spin 360s linear infinite;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  /* width: 60%; */
  /* margin: auto; */
  margin-top: 0px;
  margin-left: var(--sd);
  padding: var(--pd);
  padding-bottom: 20vh;
  text-align: left;
  font-family: inherit;
  font-size: 20px;
  color: #191919;
  flex: 1;
}

header {
  top: 0;
  position: fixed;
  margin: 0px;
  width: var(--sd);
}

footer {
  width: var(--sd);
  display: inline-block;
  text-align: left;
  position: fixed;
  bottom: 0;
}

header, footer {
  /* background-color: rgba(255, 249, 241, 1.0); */
  padding: var(--pd);
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.inline-image {
  width: 60%;
  padding: 5px;
  display: inline-block;
}

.contentimage {
  width: 100%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.block-image {
  width: 100%;
}
.caption {
  text-align: left;
  font-size: 16px;
  font-family: monospace;
  color: #191919;
  width: 100%;
}

.trace {
  font-size: 22px;
  padding-bottom: 20px;
  width: 40vw;
  height: 20px;
  color: black;
}

.trace a:link, .trace a:visited {
    color:#6F1A07;
}

 a.textlink:link,  a.textlink:visited {
    color:#6F1A07;
}

header a:link, header a:visited {
  color:black;
  &[aria-current="page"] {
    /* text-decoration: line-through !important;
    text-decoration-thickness: auto;
    text-decoration-thickness: 0.15em !important; */
    /* background: rgb(58, 101, 6, 0.8); */
      background: rgba(0, 108, 138, 0.8);
      padding:1px;
    border-radius: 5px;
    color: white;
  }
}

a {
  color: #6F1A07;
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
}

table {
  width: 40vw;
}

th,
td {
  width: 100px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

@media all and (max-width:800px)
  {
    header {
      width: 100%;
      position: relative;
    }
    nav {
      display: flex;
      gap: 30px;
      justify-content: left;
      margin: 0px;
    }
  .title {
    font-size: calc(2.5vw + 2.5vh);
    text-align: left;
    margin-left: 0;
    margin-bottom:10px;
    }
  footer {
    position: relative;
  }
  .rotate {
    display: none;
  }
  nav a:link,
  nav a:visited {
    font-size: calc(1.5vw + 1.5vh);
  }

  .content {
    margin: 0;
    position: relative;
    padding: calc(var(--pd) - 10px);
    text-align: left;
    font-family: monospace;
    font-size: 18px;
  }
  
  .contentimage {
    width: 90vw;
  }
  
}

