<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link href="/static/stylesheets/minimalstyle.css" rel="stylesheet" type="text/css" media="all">
  {% if page.extra_css %}
    {{ page.extra_css }}
  {% endif %}
</head>
<body>
  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <p>© 2026 Jay Anderson</p>
  </footer>
</body>
</html>